<h1>Edit <%= @rubberduck.name %></h1>

<%= render "form", user: @user, rubberduck: @rubberduck %>

<%= link_to "Go back to your profile", user_path(@user), class: "btn btn-primary" %>
<%= link_to "Go back to see all rubberducks", rubberducks_path, class: "btn btn-primary" %>
