
<h1>Rubberducks</h1>

  <div style="width: 600px; height: 600px; margin: 20px 0px; border-radius: 30px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

<div data-controller="content" data-content-target="contentContainer">

  <%= render partial: "rubberducks/list" %>
</div>
