<h1>Add a new rubberduck</h1>

<%= render "form", user: @user, rubberduck: @rubberduck %>

<%= link_to "Go back to see your rubberducks", user_rubberducks_path, class: "btn btn-primary" %>
<%= link_to "Go back to see all rubberducks", rubberducks_path, class: "btn btn-primary" %>
