<h1>Add a new rubberduck</h1>

<%= render "form", user: @user, rubberduck: @rubberduck %>

<div id="new-links">
  <% if user_signed_in? %>
    <%= link_to "Go to your profile", user_path(current_user), class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Go back to the Home Page", rubberducks_path, class: "btn btn-primary" %>
</div>
