
<nav class="navbar costum-navbar">
  <div class="container">
    <a class="navbar-brand" href="#">
      <%= image_tag "logo-duck.jpg", alt: "Logo - Duck with sunglasses", width: 75, height: 75, class: "rounded-circle navbar-logo" %>
    </a>
  </div>
</nav>
