.footer {
  background-color: $dark-orange;
  color: $light-yellow;
  padding: 20px;
  text-align: center;
}

.footer-nav a {
  color: $light-yellow;
  margin-right: 15px;
}

.footer-nav a:hover {
  color: $yellow;
}
