@import "../config/colors";

.costum-navbar {
  justify-content: space-between;
  background: $light-orange;
  z-index: 10;

  .container{
    display: flex;
    align-items: center;
  }

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
