body {
  font-family: 'Poppins', sans-serif;
  background-color: #FEFFD2;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 20px;
}

.rubber-duck-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 300px; /* Fixed width for the card */
  text-decoration: none;
  color: inherit;
  background-color: white;
}

.rubber-duck-card:hover {
  transform: scale(1.05);
}

.duck-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  max-width: 250px;
}

.card-info {
  padding: 15px 15px 5px; /* Adjusted padding for bottom */
  width: 90%; /* Reduce width to 90% to leave space on the sides */
  text-align: left; /* Keep the text aligned to the left */
  margin: 0 auto; /* Center the .card-info inside the .rubber-duck-card */
}

.duck-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.duck-name,
.rating-number {
  font-size: 16px;
  color: #FF7D29;
  font-weight: bold;
  margin: 0;
}

.fas.fa-star {
  color: #FF7D29;
  font-size: 14px;
  margin-right: 5px;
}

.duck-city {
  margin: 5px 0;
  font-size: 13px;
  color: #888888;
}

.duck-price {
  margin: 10px 0; /* Increased margin for more space */
  font-size: 13px;
  color: #FF7D29;
  font-weight: bold;
}
