// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/buttons";  // Buttons
@import "components/navbar";
@import "components/footer";
@import "components/reviews";
@import "components/rubber_duck_cards";
@import "pages/show"; // Styles for rubberduck show page

body {
  background-color: #FEFFD2 !important; // Use !important to ensure it isn't overridden
  padding-top: 150px;
}

@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");
