// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
// Your CSS partials
@import "components/index";
@import "pages/index";

@import "components/navbar";
@import "components/rubber_duck_cards";

body {
  padding-top: 150px;
}
